body {
    margin: 0;
}

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
}

#logo {
    width: 200px;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px 50px;
}

.alinhar {
    justify-content: center;
    align-items: center;
    margin: 0px;
    align-self: center;
}

.login {
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 0px 50px 0px 0px;
}

.professores {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.professores p {
    margin: 5px;
}

.login div {
    margin: 5px;
}

.caixa-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    border-radius: 30px;

}

.caixa-login input {
    justify-content: space-between;
    margin: 2px;
}

.botao {
    background-color: rgb(53, 229, 235);
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
}

.acesso {
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    font-weight: bold;
    border-radius: 30px;
    text-align: center;
}

.tudo {
    background-color: #1a9bc9;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    /*flex-direction: row; */
}

.menu-hamburguer {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 30px;
    justify-content: center;
    width: 30px;
    margin: 10px;
    padding: 3px;
}

.traco {
    background-color: black;
    border-radius: 30px;
    display: block;
    height: 5px;
    margin: 3px 0;
    transition: 0.5s;
    width: 100%;
}

.traco-1,
.traco-3 {
    transform-origin: right center;
}

.menu-hamburguer.ativo .traco-1 {
    transform: rotateZ(-45deg);
}

.menu-hamburguer.ativo .traco-2 {
    opacity: 0;
}

.menu-hamburguer.ativo .traco-3 {
    transform: rotateZ(45deg);
}

.nav-menu-hamburguer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    transform: translateX(-100%);
    transition: 1s;
}

.visivel {
    transform: translateX(0);
}

.nav-menu-hamburguer a {
    text-decoration: none;
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    font-weight: bold;
}

.section1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* margin: 50px; */
}

.section1 a {
    /* padding: 30px; */
}



#banner a {
    padding: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: right;
    background-color: rgb(216, 210, 210);
}

#banner a:hover {
    background-color: #333;
    color: #FFF;
} 

#banner #botoes {
    width: 900px;
    text-align: right;
}

#banner #botoes {
    padding-top: 5px;
}

.noticia1{
    background-image: url(banner_img/1.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vw;
    justify-content: flex-end;
}

/* .noticia2 {
        background-image: url(banner_img/2.jpg);
        background-position: center;
        background-size: cover;
        color: white;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50vw;
        justify-content: flex-end;
    
} */

/* .noticia3 {
        background-image: url(banner_img/3.jpg);
        background-position: center;
        background-size: cover;
        color: white;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50vw;
        justify-content: flex-end;
    
} */

.section2 {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.section2 div p {
    color: rgb(7, 75, 71);
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
}

.video {
    margin: 30px;
    
}

.sociais {
    align-items: center;
    color: white;
}

.sociais p:nth-child(1) {
    font-size: 30pt;
    margin: 20px 0 0 0;
}

#parceiros {
    font-size: 30pt;
    margin: 10px 5px;
}

.sociais img {
    height: 65px;
    width: 65px;
}

.icones a{
    margin: 5px;
}

.icones a:hover {
    opacity: 0.5;
}

.parceiros img:nth-child(1) {
    margin: 0 5px;
    width: 90px;
}

.parceiros img:nth-child(2) {
    height: 60px;
    margin: 0 5px;
    width: 90px;
}

.parceiros img:nth-child(3) {
    margin: 0 5px;
    width: 90px;
}

.parceiros img:nth-child(4) {
    margin: 0 5px;
    width: 190px;
}

.parceiros img:nth-child(5) {
    height: 50px;
    margin: 0 5px;
    width: 190px;
}

div .insta {
    height: 55px;
    padding: 0 0 5px 0;
}

div .linkedin {
    height: 55px;
    padding: 0 0 5px 0;
}

.parceirostop{
    align-items: center;
    background-color: rgb(57, 134, 185);
    color: white;
    display: block;
    font-family: 'Amatic SC', cursive;
    font-size: 18pt;
    justify-content: center;
    height: 292px;
    text-align: center;
}

footer {
    background-color: rgb(87, 189, 223);
    height: 70px;
}

footer p {
    margin: 0;
    font-size: 18pt;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 30px 0px 0px 0px;
}




