body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#logo {
    width: 100px;
    height: 80px;
}

.login {
    display: flex;
}

.professores {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.login div {
    margin: 10px;
}

.caixa-login {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: space-between;
}

.tudo {
    background-color: #1a9bc9;
    padding: 10px;
}

.menu-hamburguer {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 30px;
    justify-content: center;
    width: 30px;
    margin: 10px;
}

.traco {
    background-color: black;
    border-radius: 30px;
    display: block;
    height: 3px;
    margin: 4.25px 0;
    transition: 0.5s;
    width: 100%;
}

.traco-1,
.traco-3 {
    transform-origin: right center;
}

.menu-hamburguer.ativo .traco-1 {
    transform: rotateZ(-45deg);
}

.menu-hamburguer.ativo .traco-2 {
    opacity: 0;
}

.menu-hamburguer.ativo .traco-3 {
    transform: rotateZ(45deg);
}

.nav-menu-hamburguer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    transform: translateX(-100%);
    transition: 1s;
}

.visivel {
    transform: translateX(0);
}

.nav-menu-hamburguer a {
    text-decoration: none;
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}

.section1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 50px;
}

.section1 a {
    padding: 30px;
}

#banner #banner_img {
    width: 900px;
    height: 300px;
    border: solid 3px #333;
}

#banner a {
    border: solid 1px #333;
    background-color: #F7F7F7;
    padding: 5px;
    text-decoration: none;
    color: #000;
}

#banner a:hover {
    border: solid 1px #333;
    text-decoration: underline;
    background-color: #333;
    color: #FFF;
}

#banner a.hover {
    background-color: #333;
    color: #FFF;
}

#banner #botoes {
    width: 900px;
    text-align: right;
}

#banner #botoes {
    padding-top: 5px;
}

.section2 {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.video {
    margin: 0px 30px 0px 30px;
}

.sociais {
    align-items: center;
    background-color: rgb(57, 134, 185);
    color: white;
    /* display: flex; */
    /* font-size: 18pt; */
    justify-content: center;
    height: 292px;
    text-align: center;
}

.sociais p:nth-child(1) {
    font-size: 30pt;
    margin: 15px 0 0 0;
}

#parceiros {
    font-size: 30pt;
    margin: 10px 5px;
}

.sociais img {
    height: 65px;
    width: 65px;
}

.parceiros img:nth-child(1) {
    margin: 0 5px;
}

.parceiros img:nth-child(2) {
    height: 60px;
    margin: 0 5px;
    width: 90px;
}

.parceiros img:nth-child(3) {
    margin: 0 5px;
    width: 90px;
}

.parceiros img:nth-child(4) {
    margin: 0 5px;
    width: 190px;
}

.parceiros img:nth-child(5) {
    height: 50px;
    margin: 0 5px;
    width: 190px;
}

div .insta {
    height: 55px;
    padding: 0 0 5px 0;
}

div .linkedin {
    height: 55px;
    padding: 0 0 5px 0;
}

footer {
    background-color: rgb(87, 189, 223);
    height: 70px;
}

footer p {
    margin: 0;
    font-size: 18pt;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}