body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: yellow;
    padding: 20px;
}

#logo {
    width: 80px;
    height: 70px;
}

.login {
    display: flex;
}

.professores {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    display: flex;
	
	
	justify-content: flex-end;
	align-items: center;
	align-content: center;
}

.login div {
    margin: 10px;
}

.caixa-login {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
    align-content: space-between;
}

.menu-hamburguer {
    margin: 5px;
}

.container {
   display: inline-block;
   cursor: pointer; 
}

.barra1, .barra2, .barra3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.alterar .barra1 {
    transform: rotate(-45deg); translate(-9px 6px);
}

.alterar .barra2 {
    opacity: 0;
}

.alterar .barra3 {
    transform: rotate(45deg); translate(-8px -8px);
}